<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>StoryLoom</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/Kaushan_Script.css">
    <link rel="stylesheet" href="../assets/css/Montserrat.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <section id="contact" style="background-image:url('../assets/img/team/map-image.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Writing your story !</h2>
                    <h3 class="section-subheading text-white">Login and start.</h3>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form id="contactForm" name="contactForm" class="p-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3 form-group">
                                    <input class="form-control" type="email" id="email" placeholder="Your Email *"
                                        required>
                                    <small class="form-text text-danger lead"></small>
                                </div>
                                <div class="mb-3 form-group">
                                    <input class="form-control" type="password" id="password"
                                        placeholder="Your Password *" required>
                                    <small class="form-text text-danger lead"></small>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <div id="success"></div>
                                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton"
                                    type="submit">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Brand 2025</span></div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/agency.js"></script>
</body>

</html>